.restaurant-hero-picture {
  height: 250px;
  background-size: cover;
  top: 240px;
  text-align: center;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding-right: 16px;
}

.restaurant-details {
  border-radius: 26px / 32px;
  margin-top: -30px;
  background-color: white;
}

.restaurant-card {
  padding-top: 40px;
  padding-bottom: 24px;
  border-radius: 16px 16px 0px 0px;
  margin: 0px;
  position: absolute;
  top: 240px;
  text-align: center;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.restaurant-card-icons {
  display: flex;
  justify-content: space-around;

  .restaurant-card-icons i {
    list-style: none;

    .card-body li {
      list-style: none;
    }

    .yellow {
      color: rgb(248, 209, 82);
    }

    .gray {
      // color: rgb(243, 243, 243);
      color: rgba(255,255,255,0.8)
    }

    .center-rating-group {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .rating-align-left {
      padding: 0;
      justify-content: flex-start;
      padding-left: 50px;
    }

    .rating-align-right {
      padding: 0;
      justify-content: flex-end;
      padding-right: 50px;
    }

    .ratings-container {
      display: flex;
      margin-top: 5px;
      justify-content: center;

      .ratings-container i {
        font-size: 10px;
        letter-spacing: -6px;
      }
    }

    .rating-title {
      font-size: 18px;
    }

    .total-rating-restaurant-show {
      i {
        font-size: 14px;
        padding-left: 0px !important;
        padding-right: 0px !important;
        letter-spacing: 4px;
      }
    }

    .icon-text {
      font-size: 14px;
    }
  }
}


.tab-info {
  width: 100%;
  height: 100%;
  min-height: 200px;
  padding: 20px 30px;
  margin: 20px 0;
  background: #eeeeee;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(255, 255, 255, 1), inset 0 0 0 rgba(0, 0, 0, 0.2), inset 0 0 0 rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  transition: background 300ms ease-in-out, box-shadow 300ms ease-in-out;
  border: 1px #fc6464 solid;
  font-size: 16px;
}

.tab-info ul {
    // list-style: none;
    // font-size: 12px;
    padding: 0;
    margin: 0;
  }

  .tab-info li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

.div.row {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.whitespace {
  border-radius: 10px 10px 0px 0px;
  background: white;
}

.restaurant-show {
  .yellow {
    color: rgb(248, 209, 82);
  }

  .gray {
    color: rgba(0,0,0,0.2);
  }

  .review-count {
    font-size: 15px;
    opacity: 0.7;
  }
}

.nav-link {
  height: 50px;
  margin: 5px;
  // background: #white;
  // box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(255, 255, 255, 1), inset 0 0 0 rgba(0, 0, 0, 0.2), inset 0 0 0 rgba(255, 255, 255, 0.2);
  outline: none;
  cursor: pointer;
  transition: background 300ms ease-in-out, box-shadow 300ms ease-in-out;
  font-size: 16px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 0.5rem;
  min-width: 65px;
}

.neu-tab-btn {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(255, 255, 255, 1), inset 0 0 0 rgba(0, 0, 0, 0.2), inset 0 0 0 rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  margin: 0 5px;
}

.neu-tab-btn .nav-link.active {
  background: #eeeeee !important;
  border-radius: 10px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(255, 255, 255, 1),
  inset 5px 5px 10px rgba(0, 0, 0, 0.2),
  inset -5px -5px 10px rgba(255, 255, 255, 0.2);
  color: #333;
}

.nav-pills .nav-link:hover {
  color: initial;
}

#map {
  border-radius: 10px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(255, 255, 255, 1),
  inset 5px 5px 10px rgba(0, 0, 0, 0.2),
  inset -5px -5px 10px rgba(255, 255, 255, 0.2);
  margin-top: 15px;
}


.restaurant-info-description {
}

.restaurant-info-address p {
  font-weight: bold;
  padding: 0;
  margin-top: 5px;
}

.restaurant-info-open {
}

