// ACCORDION

h4 {
text-align: center;
}

.card {
  // border-radius: 16px;
  // height: 50px;
  // margin: 5px;

}

.card-header {
  background: white;
  text-align: center;
  border-radius: 4px;
  margin: 5px;
}

.mb-0 {
  font-size: 18px;
  font-style: light;
}

.card-body {

}

.form-group {

}


/* -- slider --*/

.v-range-slider {
  display: flex;
  align-items: center;
  padding: 2px 11px;
}
.v-range-slider input[type=range] {
  -webkit-appearance: none;
  flex: 1;
  display: block;
  overflow: hidden;
  margin: 5px 0 10px -5px;
  padding: 8px 1px 8px;
  box-sizing: border-box;
  outline: none;
  background: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}
.v-range-slider input::-webkit-slider-runnable-track {
  position: relative;
  height: 2px;
  background: black;
  border: none;
  border-radius: 3px;
}
.v-range-slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  margin-top: -7px;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border: 0;
  border-radius: 50%;
  background: black;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
.v-range-slider input::-webkit-slider-thumb:before {
  position: absolute;
  display: inline-block;
  content: '';
  top: 7px;
  left: -2001px;
  width: 2000px;
  height: 2px;
}
