// ACCORDION

.form-group {
  background: white;
  border: #666;
}

.switch-beween {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

// h4 {
// text-align: center;
// }

// .card {
//   border-radius: 16px;
//   height: 50px;
//   margin: 5px;

// }

// .card-header {
//   background: white;
//   text-align: center;
//   border-radius: 4px;
//   margin: 5px;
// }

// .mb-0 {
//   font-size: 18px;
//   font-style: light;
// }

// .card-body {

// }





