// Specific CSS for your home-page

body {
background: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100%;
}

.slogan p {
  text-align: center;
  font-size: 20px;
}

// .home-page-categories img {
//  width: 100px;
//  height: 100px;
//  border: 1px solid grey;
//  border-radius: 5px;
// }

// .search-form {
//   border: 1px solid grey;
// }

// h1 {
//   font-size: 80px;
// }


