.testing {
  width: 100%;
  border-radius: 0%;
}

.restaurant-card {
  padding-top: 40px;
  padding-bottom: 24px;
  border-radius: 16px 16px 0px 0px;
  margin: 0px;
  position: absolute;
  top: 240px;
  text-align: center;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.restaurant-card-icons {
  display: flex;
  justify-content: space-around;
}

.icon-text {
  padding-left: 8px;
  padding-right: 16px;
}

.restaurant-card-icons i {

}

.card-body li {
  list-style: none;
}
