
<div class="navbar">

  <!-- NO LINK NEEDED -->
  <li class="dropdown-element"><i class="fas fa-map-marker-alt" id="map-nav-btn"></i></li>

  <%= link_to restaurants_filter_path do %>
  <li class="dropdown-element"><i class="fas fa-sliders-h"></i></li>
  <% end %>

  <%= link_to restaurants_search_path do %>
  <li class="dropdown-element"><i class="fas fa-plus"></i></li>
  <% end %>

  <%= link_to reviews_path do %>
  <li class="dropdown-element"><i class="fas fa-home"></i></li>
  <% end %>

  <%= link_to profile_path(current_user.profile) do %>
  <li class="dropdown-element"><i class="fas fa-user"></i></li>
  <% end %>

</div>

