<div class="container">
  <div class="row">
    <div class="col-sm-xx col-md-xx col-lg-xx col-xl-xx">

<!-- <h1>taste</h1> -->
<div class="logo">
<img src="/assets/taste" alt="Taste">
</div>
<div class="slogan">
<p>FIND AND REMEMBER YOUR FAVORITE PLACES</p>
</div>

<!-- <div class="search-form-home-page">
        <form class="search-form" action="action_page.php">
          <input type="text" placeholder="What are you searching for?" name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>

      <div class="home-page-categories">
        <img src="/assets/coffee.jpg" alt="Coffee">
        <img src="/assets/breakfast.png" alt="Breakfast">
        <img src="/assets/breakfast.png" alt="Brunch">
        <img src="/assets/dinner.jpg" alt="Lunch">
        <img src="/assets/dinner.jpg" alt="Dinner">
        <img src="/assets/drinks.png" alt="Drinks">
        <img src="/assets/icecream.png" alt="Ice Cream">
      </div> -->
    </div>
  </div>
</div>
