<h1>taste</h1>
<p>FIND AND REMEMBER YOUR FAVORITE PLACES</p>

<div class="container">
  <div class="row">
    <div class="col-sm-xx col-md-xx col-lg-xx col-xl-xx">

      <div class="search-form-landing-page">
        <button class="btn">What are you searching for</button>
      </div>

      <div class="landing-page-categories">
        <img src="" alt="Coffee">
        <img src="" alt="Breakfast">
        <img src="" alt="Brunch">
        <img src="" alt="Lunch">
        <img src="" alt="Dinner">
        <img src="" alt="Drinks">
        <img src="" alt="Ice Cream">
      </div>
    </div>
  </div>
</div>
