<div class="landing-container">
  <div class="landing-background-img" style="background-image: url('/assets/landing.png');">
    <div class="landing-element-container">
      <img src="/assets/taste" alt="Taste" style="height: 12vh;">
      <h3 id="message-landing-home" class="my-4">
        <strong>Find Your Favorite Restaurants<br>Share with Others</strong>
      </h3>
      <div class="search-form-restaurant">
        <%= form_tag restaurants_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control search-restaurant",
            placeholder: "Search restaurants"
          %>
          <%= submit_tag "Search", class: "btn btn-lg btn-dark", id: "search-btn", style: "margin-top: 20px;" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


