<h1>taste</h1>
<p>FIND AND REMEMBER YOUR FAVORITE PLACES</p>

<div class="container">
  <div class="row">
    <div class="col-sm-xx col-md-xx col-lg-xx col-xl-xx">

      <div class="search-form-home-page">
        <button class="btn">What are you searching for</button>
      </div>

      <div class="home-page-categories">
        <img src="coffee.jpg" alt="Coffee">
        <img src="breakfast.png" alt="Breakfast">
        <img src="breakfast.png" alt="Brunch">
        <img src="dinner.jpg" alt="Lunch">
        <img src="dinner.jpg" alt="Dinner">
        <img src="drinks.png" alt="Drinks">
        <img src="icecream.png" alt="Ice Cream">
      </div>
    </div>
  </div>
</div>
