<div class="row">
  <div class="col-xs-12 col-md-6 offset-md-3">
    <%= link_to restaurant_path(restaurant), class: "jump-to-restaurant-show" do %>
      <% restaurant.name %>
    <% end %>
    <%= link_to "Review", new_restaurant_review_path(restaurant), class: "btn btn-indigo jump-to-review-from-bookmark" %>
  </div>
</div>
