<div class="row">
  <div class="w-100 d-flex">
      <div class="w-75 d-flex justify-content-start ellipsis">
        <%= link_to restaurant_path(restaurant), class: "jump-to-restaurant-show" do %>
          <% restaurant.name %>
        <% end %>
      </div>
      <div class="w-25 d-flex justify-content-end">
        <%= link_to "Review", new_restaurant_review_path(restaurant), class: "btn btn-sm btn-light jump-to-review-from-bookmark" %>
      </div>
  </div>
</div>
