<div class="container">
  <div class="col-xs-12 col-md-6 offset-md-3">
    <h3> Results </h3>
    <div class="restaurant-grid">
      <% @restaurants.each do |restaurant| %>
        <%= link_to restaurant_path(restaurant.id) do %>
          <div class="index-restaurant-card">
            <h4 class="restaurant-name"><%= restaurant.name %></h3>
            <p class="restaurant-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore minima consequuntur impedit dicta nostrum.</p>
            <i class="map-pin-logo fas fa-map-marker-alt"></i>
            <!-- <h4 class="restaurant-address"> € <%= restaurant.address %></h4> -->
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
