<!-- <div class="restaurant-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('/assets/index_card_photo.jpeg');">

</div>
<div class="container" style="border: solid 1px;">
  <div class="col-xs-12 col-md-6 offset-md-3">

  </div>
</div>

 -->

 <div class="container">
  <div class="col-xs-12 col-md-6 offset-md-3">
    <h4> <%= @restaurant.name %></h4>
    <p><%= @restaurant.description %></p>
  </div>
</div>
