.card-restaurant-index {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
  margin: 0px;
}

.picture-restaurant-index img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0px 0px;
}

.card-info-restaurant-index {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
  padding-right: 8px;
  padding-left: 8px;

  .info-restaurant-index {
    font-size: 10px;
    color: black;
    margin: 0px;

    .restaurant-name-index {
      font-size: 16px;
      font-weight: bold;
      color: black;
      margin: 0px;
    }

    .restaurant-address-index {
      padding: 0px;
    }
  }

  .details-restaurant-index {

    p {
    font-size: 10px;
    font-style: none;
    color: black;
    margin: 0px;
    padding: 0px;
    }
  }
}
