// a:hover {
//   text-decoration: none;
// }
.index-restaurant-card {
  background: white;
  overflow: hidden;
  background-repeat: no-repeat;
  color: white;
  width: 100%;
  height: 120px;
  box-shadow: 3px -2px 9px 0px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  position: relative;
  background-size: cover;
  background-position: center;
  transition: all 1s ease;
  margin-top: 16px;
  &:hover {
  box-shadow: 3px -2px 9px 0px rgba(0, 0, 0, 0.5) !important;
  transition: all 1s ease;
  top: -5px;
  cursor: pointer;
  border-top: none;
  text-decoration: none;
  }
}

.each-restaurant-img {
  background-repeat: no-repeat;
  background: linear-gradient(to top, transparent, white);
  width: 100%;
  height: 18vh;
}

// div class="index-car-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path car.photo.attached? ? car.photo.key : "injcuuecln8fvf2vo2zg", width: 400, height: 300, crop: :fill, :cloud_name => "dir0nw4ok"%>'

//   .brand-car {
//     color: white;
//     opacity: 0.8;
//     &:hover {
//       text-decoration: none !important;
//   }
// }
// .price-card {
//     position: absolute;
//     bottom: 0px;
//     right: 24px;
//     color: white;
//     opacity: 0.8;
//     font-weight: bold;
// }
// .restaurant-grid {
//   margin-top: 32px;
//   display: grid;
//   grid-template-columns: 1fr;
//   grid-column-gap: 40px;
//   grid-row-gap: 32px;
//   margin-top:32px;
// }
// .car-delete {
//   position: absolute;
//   top: 8px;
//   right: 14px;
//   color: #EF5350;
//   &:hover {
//     color: #F44336;
//   }
// }

@media(max-width: 992px) {
 .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}
// .car-seats-logo img{
//     position: absolute;
//     top: 4px;
//     left: 15px;
//     color: white;
//     width: 20px;
//     height: 20px;
// }
// .car-seats-logo {
//     position: absolute;
//     top: 13px;
//     right: 36px;
//     color: white;
//     width: 20px;
//     height: 20px;
// }
.map-pin-logo {
    position: absolute;
    top: 20px;
    left: 13px;
    color: white;
    width: 20px;
    height: 20px;
    color: black;
}
// .car-location {
//     position: absolute;
//     top: 16px;
//     left: 35px;
//     color: white;
//     width: 20px;
//     height: 20px;
//     font-family: "Raleway";
//     font-weight: 400;
// }
