.profile-background-img {
  width: 100%;
  height: 15vh;
}

.avatar-img {
  z-index: 100;
  display: block;
  margin: auto;
  margin-top: -55px;
}

.profile-container {
  text-align: center;
}

.jump-to-review {
  margin-left: 40px;
  height: 5vh;
}

.saved-restaurant-items {
  display: flex;
  width: 100%;
}
