// .restaurant-banner {
//   object
//   background-size: cover;
//   background-position: center;
//   height: 160px;
//   padding: 150px 0;
// }

// .banner {
//   height: 50px;
//   width: 100%;
//   background-size: contain;
//   background-position: center;
// }

// .background-picture {
//   width: 100%;
// }

.testing {
  width: 100%;
  border-radius: 0%;
}

.restaurant-card {
  padding-top: 40px;
  padding-bottom: 24px;
  border-radius: 15px;
  margin: 0 20px;
  position: absolute;
  top: 240px;
  text-align: center;
  box-shadow: 3px -2px 9px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.restaurant-card-icons {
  display: flex;
  justify-content: space-around;
}

.icon-text {
  padding-left: 8px;
  padding-right: 16px;
}

.restaurant-card-icons i {

}

.avatar-bordered {

  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  left: 111px;
  background-size: cover;
  top: -84px;
  background-color: white;
}

.card-body li {
  list-style: none;
}
