.restaurant-bookmark-container {
h2 {
    padding-left: 15px;
    padding-top: 35px;
    font-size: 30px;
    opacity: 1.0;
    font-weight: bold;
    color: white;
  }
}

.saved-restaurant-lists{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  margin-left: 22px;
  margin-top: 25px;
  grid-gap: 0.8em;
}

#message-bookmark-restaurant{
  margin-left: 22px;
  margin-top: 15px;
}

// #picture-restaurant-bookmark {
//   border-radius: 10px 10px 5px 5px;
//   width: 100%;
// }

// .jump-to-review-from-bookmark {
//   background-color: #FFC700;
// }

.jump-to-restaurant-show {
  color: black;
}

a.jump-to-restaurant-show:hover {
  color: blue !important;
  text-decoration: none;
}

.each-restaurant-list {
  margin-bottom: 10px;
}

.restaurant-bookmark-background-img {
  width: 100%;
  height: 22vh;
  background-size: cover;
}

.each-saved-restaurant {
  width: 40vw;
  border: 0.5px solid grey;
  border-radius: 10px;
}

@media(max-width: 400px){
  .saved-restaurant-lists {
    grid-template-columns: 1fr 1fr;
  }
}
