.restaurant-bookmark-container {
  margin-top: 20px;

h2 {
    padding-left: 15px;
    font-size: 30px;
  }
}

.saved-restaurant-lists{
  text-align: center;
}

.jump-to-review-from-bookmark {
  background-color: #FFC700;
  margin-left: 20px;
}

.jump-to-restaurant-show {
  color: black;
}

a.jump-to-restaurant-show:hover {
  color: blue !important;
  text-decoration: none;
}

.each-restaurant-list {
  margin-bottom: 10px;
}

