.search-container {
  width: 100%;
  text-align: center;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.search-restaurant {
  margin-bottom: 20px;
}

.search-results {
  margin-top: 30px;
  margin: 0 30px;
}

.search-restaurant-background-img {
  background-size: cover;
  height: 94vh;
}

#message-search-restaurant {
  padding-top: 235px;
  margin-bottom: 20px;
}

.search-restaurant {
  width: 70%;
  margin-top: 20px;
  margin: auto;
}
