.search-container {
  width: 80vw;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.search-restaurant {
  margin-bottom: 20px;
}

.search-results {
  margin-top: 30px;
}
