<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <#%= simple_form_for [@restaurant, @review] do |f| %>
        <#%= f.input :description %>
      <#% end %>
    </div>
  </div>
</div>
 -->
