<!-- Reviews from people user is following -->

<div class="container">
  <div id="home-layout">

    <div class="card-review-index">
      <% @reviews.each_with_index do |review, index| %>
        <% if index%2 == 0 %>
          <div class="picture-review-index">
            <% if review.photo.attached? %>
              <%= cl_image_tag review.photo.key, alt: "Review" %>
            <% else %>
              <img src="/assets/pizza.jpg" alt="Restaurant">
            <% end %>

            <div class="description">
              <!-- Button trigger modal -->
              <%= review.description %>
            </div>
          </div>
        <% end  %>
      <% end  %>
    </div>
    <div class="card-review-index">
      <% @reviews.each_with_index do |review, index| %>
        <% if index%2 != 0 %>
          <div class="picture-review-index">
            <% if review.photo.attached? %>
              <%= cl_image_tag review.photo.key, alt: "Review" %>
            <% else %>
              <img src="/assets/pizza.jpg" alt="Restaurant">
            <% end %>

            <div class="description">
              <!-- Button trigger modal -->
              <%= review.description %>
            </div>
          </div>
        <% end  %>
      <% end  %>
    </div>
    <!-- No 1 -->

    <!-- <div class="card-review-index">
      <div class="picture-review-index">
        <img src="https://res.cloudinary.com/kaori-kk/image/upload/v1584020781/taste/review6_yuaeum.png" alt="Restaurant">
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>


    <div class="card-review-index">
      <div class="picture-review-index">
        <img src="https://res.cloudinary.com/kaori-kk/image/upload/v1584020562/taste/review2_v2phgj.png" alt="Restaurant">
      </div>
      <div class="description">
        <p>Had Great pasta! Highly recommended! I enjoy this..</p>
      </div>
    </div>



    <div class="card-review-index">

      <div class="picture-review-index">
        <img src="https://res.cloudinary.com/kaori-kk/image/upload/v1584021092/taste/review7_caxnns.png" alt="Restaurant">
      </div>

      <div class="description">
        <p>Amazing vegan restaurant! Service is great. Food</p>
      </div>
    </div>



    <div class="card-review-index">
      <div class="picture-review-index">
        <img src="https://res.cloudinary.com/kaori-kk/image/upload/v1584021093/taste/review8_jed5bl.png" alt="Restaurant">
      </div>
      <div class="description">
        <p>Description</p>
      </div>
    </div>

    <div class="card-review-index">
      <div class="picture-review-index">
        <img src="https://res.cloudinary.com/kaori-kk/image/upload/v1584021193/taste/review11_vgzhnb.png" alt="Restaurant">
      </div>
      <div class="description">
        <p>Description</p>
      </div>
    </div>
    <div class="card-review-index">
      <div class="picture-review-index">
        <img src="https://res.cloudinary.com/kaori-kk/image/upload/v1584021184/taste/review10_dngazd.png" alt="Restaurant">
      </div>
      <div class="description">
        <p>Description</p>
      </div>
    </div>
    <div class="card-review-index">
      <div class="picture-review-index">
        <img src="https://res.cloudinary.com/kaori-kk/image/upload/v1584021283/taste/Screenshot_2020-03-12_at_14.54.25_hy5zqz.png" alt="Restaurant">
      </div>
      <div class="description">
        <p>Description</p>
      </div>
    </div>
    <div class="card-review-index">
      <div class="picture-review-index">
        <img src="https://res.cloudinary.com/kaori-kk/image/upload/v1584021235/taste/review9_ntdavi.png" alt="Restaurant">
      </div>
      <div class="description">
        <p>Description</p>
      </div>
    </div> -->

  </div>

</div>





<!--  No 1  -->

<!--  <div class="reviews-following">

        <div class="reviews-following-post w-100 p-0 rounded mt-0">

          <div class="reviews-following-post-image">
            <img src="/assets/pizza.jpg" alt="Restaurant">
          </div>

          <div class="reviews-following-post-description">
            <p>Description</p>
          </div>

        </div>

      </div>  -->
