<!-- Reviews from people user is following -->

<div class="container">
  <div id="home-layout">

    <!-- No 1 -->

    <div class="card-review-index">

      <div class="picture-review-index">
        <img src="/assets/pizza.jpg" alt="Restaurant">
      </div>

      <div class="description">
        <p>Description</p>
      </div>
    </div>


    <!-- No 2 -->

    <div class="card-review-index">

      <div class="picture-review-index">
        <img src="/assets/pizza.jpg" alt="Restaurant">
      </div>

      <div class="description">
        <p>Description</p>
      </div>
    </div>


    <!-- No 3 -->

    <div class="card-review-index">

      <div class="picture-review-index">
        <img src="/assets/pizza.jpg" alt="Restaurant">
      </div>

      <div class="description">
        <p>Description</p>
      </div>
    </div>


    <!--   No 4 -->

    <div class="card-review-index">
      <div class="picture-review-index">
        <img src="/assets/pizza.jpg" alt="Restaurant">
      </div>
      <div class="description">
        <p>Description</p>
      </div>
    </div>

    <div class="card-review-index">
      <div class="picture-review-index">
        <img src="/assets/pizza.jpg" alt="Restaurant">
      </div>
      <div class="description">
        <p>Description</p>
      </div>
    </div>
    <div class="card-review-index">
      <div class="picture-review-index">
        <img src="/assets/pizza.jpg" alt="Restaurant">
      </div>
      <div class="description">
        <p>Description</p>
      </div>
    </div>
    <div class="card-review-index">
      <div class="picture-review-index">
        <img src="/assets/pizza.jpg" alt="Restaurant">
      </div>
      <div class="description">
        <p>Description</p>
      </div>
    </div>

  </div>

</div>





<!--  No 1  -->

<!--  <div class="reviews-following">

        <div class="reviews-following-post w-100 p-0 rounded mt-0">

          <div class="reviews-following-post-image">
            <img src="/assets/pizza.jpg" alt="Restaurant">
          </div>

          <div class="reviews-following-post-description">
            <p>Description</p>
          </div>

        </div>

      </div>  -->
