<h1>Test restaurand card</h1>

<div class="container">
  <div class="col-xs-12 col-md-6 offset-md-3">

    <div>
      <p> Here are your tailored results: </p>
    </div>

    <div class="card-restaurant-index">

      <div class="picture-restaurant-index">
        <img src="/assets/pizza.jpg" alt="Restaurant">
      </div>

      <div class="info-restaurant-index">

        <div class="info-restaurant">
        <p class="restaurant-name">Name</p>
        <p class="restaurant-address">Address</p>
        </div>

        <div class="details-restaurant">
          <p>Stars</p>
          <p>Price</p>
        </div>

      </div>

    </div>
  </div>
</div>



<h1>Test review card</h1>

<div class="container">
  <div class="col-xs-12 col-md-6 offset-md-3">

    <div>
      <p> Reviews of the people user is following: </p>
    </div>

    <div class="card-review-index">

      <div class="picture-review-index">
        <img src="/assets/pizza.jpg" alt="Restaurant">
      </div>

      <div class="info-review-index">

        <div class="info-restaurant">
        <p class="restaurant-name">Name</p>
        <p class="restaurant-address">Address</p>
        </div>

        <div class="details-review">
          <div class="details-review-right">
          <p>Food</p>
          <p>Service</p>
          </div>
          <div class="details-review-left">
          <p>Location</p>
          <p>Prices</p>
          </div>
        </div>

        <div class="description">
          <p>Description</p>
        </div>

      </div>

    </div>
  </div>
</div>
