<h1>Test restaurand card</h1>

<div class="container">
  <div class="col-xs-12 col-md-6 offset-md-3">
    <h3> Here are your tailored results: </h3>
    <div class="card-restaurant-index">
      <div class="picture-restaurant-index">
        <div class="info-restaurant-index">
        </div>
      </div>
    </div>
  </div>
</div>
