<!-- Reviews from people user is following -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2">

      <!--   No 1 -->

      <div class="reviews-following">

        <div class="reviews-following-post w-100 p-0 rounded mt-0">

          <div class="reviews-following-post-image">
            <img src="/assets/pizza.jpg" alt="Restaurant">
          </div>

          <div class="reviews-following-post-description">
            <p>Description</p>
          </div>

        </div>

      </div>

      <!--   No 2 -->

      <div class="reviews-following">

        <div class="reviews-following-post w-100 p-0 rounded mt-0">

          <div class="reviews-following-post-image">
            <img src="/assets/pizza.jpg" alt="Restaurant">
          </div>

          <div class="reviews-following-post-description">
            <p>Description</p>
          </div>

        </div>

      </div>

      <!--   No 3 -->

      <div class="reviews-following">

        <div class="reviews-following-post w-100 p-0 rounded mt-0">

          <div class="reviews-following-post-image">
            <img src="/assets/pizza.jpg" alt="Restaurant">
          </div>

          <div class="reviews-following-post-description">
            <p>Description</p>
          </div>

        </div>

      </div>

      <!--   No 4 -->

      <div class="reviews-following">

        <div class="reviews-following-post w-100 p-0 rounded mt-0">

          <div class="reviews-following-post-image">
            <img src="/assets/pizza.jpg" alt="Restaurant">
          </div>

          <div class="reviews-following-post-description">
            <p>Description</p>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
