<h1>Test restaurand card</h1>

<div class="container">
  <div class="col-xs-12 col-md-6 offset-md-3">

    <div>
      <p> Here are your tailored results: </p>
    </div>

    <div class="card-restaurant-index">

      <div class="picture-restaurant-index">
        <img src="/assets/pizza.jpg" alt="Restaurant">
      </div>

      <div class="info-restaurant-index">

        <div class="info-restaurant">
        <p class="restaurant-name">Name</p>
        <p class="restaurant-address">Address</p>
        </div>

        <div class="details-restaurant">
          <p>Stars</p>
          <p>Price</p>
        </div>

      </div>

    </div>
  </div>
</div>
