<p>Here will be all the reviews from people the user is following</p>

<h1>Test review card</h1>

<div class="container">
  <div class="col-xs-12 col-md-6 offset-md-3">

    <div>
      <p> Reviews of the people user is following: </p>
    </div>

    <div class="card-review-index">

      <div class="picture-review-index">
        <img src="/assets/pizza.jpg" alt="Restaurant">
      </div>

      <div class="info-review-index">

        <div class="info-restaurant">
        <p class="restaurant-name">Name</p>
        <p class="restaurant-address">Address</p>
        </div>

<!--         <div class="details-review">
          <div class="details-review-right">
          <p>Food</p>
          <p>Service</p>
          </div>
          <div class="details-review-left">
          <p>Location</p>
          <p>Prices</p>
          </div>
        </div> -->

        <div class="description">
          <p>Description</p>
        </div>

      </div>

    </div>
  </div>
</div>



<h1>Test review card big screen</h1>

<div class="container">
  <div class="col-xs-12 col-md-6 offset-md-3">

    <div class="card-review-index">

      <div class="picture-review-index">
        <img src="/assets/pizza.jpg" alt="Restaurant">
      </div>

      <div class="info-review-index">

        <div class="info-restaurant">
        <p class="restaurant-name">Name</p>
        <p class="restaurant-address">Address</p>
        </div>

        <div class="details-review">
          <div class="details-review-right">
          <p>Food</p>
          <p>Service</p>
          </div>
          <div class="details-review-left">
          <p>Location</p>
          <p>Prices</p>
          </div>
        </div>

        <div class="description">
          <p>Description</p>
        </div>

      </div>

    </div>
  </div>
</div>

    <div class="button-small">
      <%= submit_tag 'submit', class:"button-small" %>
    </div>

    <div class="button-xs">
      <%= submit_tag 'submit', class:"xs" %>

    </div>
