<div style="background-image: url('https://res.cloudinary.com/kaori-kk/image/upload/v1584021184/taste/review10_dngazd.png'); height: 400px; background-size: cover;">
</div>
<div class="container mt-3 px-5">
  <div class="card shadow pt-4 pl-4 pr-4 pb-3 mb-3" style="margin-top: -70px; border-radius: 10px;">
    <div class="card-body">
      <div class="row mb-5">
        <div class="col-6 pr-0">
          <%= link_to "#" do %>
            <img class="rounded-circle" style="object-fit: cover;" height="50" width="50" src="https://res.cloudinary.com/kaori-kk/image/upload/v1584023641/Deborah_ickwos.jpg" alt="avatar picture">
          <% end %>
        </div>
        <div class="col-6 text-left d-flex align-items-center">
          <h4> Lisa </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="whitespace">
            <h2>Rating</h2>
            <p class="h6"> Amazing restaurant! Had a beautiful dinner night!! </p>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-between align-items-center mt-4 px-3">
        <div>
          <i class="fas fa-heart text-danger"></i>
        </div>
        <i class="fas fa-bookmark text-primary"></i>
      </div>
    </div>
  </div>
</div>
